/*.js-plotly-plot .plotly .modebar {
  padding-top: 5%;
  margin-right: 3.5%;
}*/

#output-clientside {
    display: none;
}

body {
    font-family: "Dosis", "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000;
    background-color: #fbfcfd;
}

/* Basics */



/* Main */
.main {

}
.facts {
    position: relative;
    padding: 2rem;
    z-index: 2;
    width: 54%;
    height: 150vh;
    background-color: yellow;
    border-right: 1px solid gray;
}
.header {
    position: sticky;
    background-color: #418CFF;
    top: 0;
}
.map {
    position: fixed;
    z-index: 1;
    left: 54%;
    top: 0;
    right: 0;
    bottom: 0;
    /*grid-area: map;*/

    iframe {
        display: block;
        border: none;
        width: 100%;
        height: 100vh;
    }
}